<p>auth works!</p>
<!-- <div class="row">
    <div class="col-xs-12">
        <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
            <div class="from-group">
                <label for="email">E-Mail</label>
                <input type="email" id="email" class="form-control" ngModel name="email" required email>
            </div>
            <div class="from-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" ngModel name="password" required minlength="6">
            </div>
            <div>
                <button  type="submit" class="btn btn-primary" [disabled]="!authForm.valid">
                    {{isLoginMode ? 'Login' : 'signup'}}</button> |
                <button class="btn btn-danger" (click)="onSwitchMode()" type="button">
                    switch to {{isLoginMode ? 'signup' : 'Login'}}
                </button>
            </div>
        </form>
    </div>
</div> -->

<div class="row">
    <div class="col-md-12">
        <div *ngIf="isLoading">
            <app-loading-spinner></app-loading-spinner>
        </div>
        <form #authForm="ngForm" (ngSubmit)="onFormSubmit(authForm)" *ngIf="!isLoading">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" ngModel name="email" required email #email="ngModel">
                <!-- <div class="help-text" *ngIf="email.touched && !email.valid">
                    <div *ngIf="email.errors.required">
                        Email is required
                    </div>
                </div> -->
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" ngModel name="password" required minlength="6" #password="ngModel">
            </div>
            <div class="mt-4">
                <button type="submit" class="btn btn-primary" [disabled]="!authForm.valid">{{isLoginMode ? "Login" : "SignUp"}}</button> |
                <button type="submit" class="btn btn-primary" (click)="onSwitchMode()">Switch to{{isLoginMode ? "SignUp" : "Login"}}</button>
            </div>

        </form>
    </div>
</div>
